body {
  background: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  text-align: center;
  background-color: #CCCCCC;
  font-weight: bolder;
}

.age-stats {
  display: none;
  color: #FFFFFF;
  margin-top: 20px;
}

h4 {
  margin-top: 50px;
  margin-bottom: 30px;
}

label {
  font-size: 20px;
}

input[type=checkbox], input[type=radio] {
  margin-top: 15px;
}

.btn {
  margin-top: 15px;
  font-weight: 700;
}

h3 {
  padding-bottom: 20px;
  padding-top: 20px;
  color: #FFFFFF;
}

.form-group {
  color: #FFFFFF;
}

input, select {
  color: #000000;
}

li {
  margin-top: 20px;
  font-size: 15px;
}
